.droneList {
  align-content: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.drone {
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 1%;
  width: 30%;
}

.droneDiv {
  width: 100%;
}

.hdg {
  font-size: 18px;
}